---
import Search  from "@components/icons/Search.astro";
import Hamburger from '@components/icons/Hamburger.astro'
---

<header class="h-16 w-full px-5 flex items-center justify-between border-b border-b-black">
    <div class="w-5">
        <Search />
    </div>
    <div>
        <span class="text-[22px] font-bold">Hypnosis</span>
        <span class="align-top text-[7px] font-semibold">TM</span>
    </div>
    <div>
        <Hamburger />
    </div>
</header>
