---
import ShareButton from "@components/ui/ShareButton.astro";
import Facebook from "./icons/Facebook.astro";
import Twitter from "./icons/Twitter.astro";
import Linkedin from "./icons/Linkedin.astro";
import Link from "./icons/Link.astro";
---

<div class="mt-4 flex gap-2 flex-wrap">
    <ShareButton text="Share">
        <div class="w-4">
            <Facebook />
        </div>
    </ShareButton>
    <ShareButton text="Twitter">
        <div class="w-4">
            <Twitter />
        </div>
            
    </ShareButton>
    <ShareButton text="Share">
        <div class="w-4">
            <Linkedin />
        </div>
    </ShareButton>
    <ShareButton text="Copy">
        <div class="w-4">
            <Link />
        </div>
    </ShareButton>
</div>
