---
import IconSearch from "@components/icons/Search.astro";
---


<div
class="md:flex md:items-center md:gap-x-2 rounded-3xl px-3 py-2 border border-gray-light hidden max-w-[250px]"
>
<div class="w-4"><IconSearch /></div>
<input type="search" placeholder="Search..." class="w-full outline-none" />
</div>